<div *ngIf="perfil; else noPerfil">
    
    <span class="text-white">Ya tienes un perfil</span>
    <br>
    <div *ngIf="perfil.subscripcion; else noSub">
        <span>Ya estás suscrito</span>
        <div>
            <p-card>
                <h2>Tu plan es:</h2> 
                <h1>
                    {{perfil.subscripcion.tipo?.tipoSubscripcion}}
                </h1>
                <h2>Días restantes</h2>
                <h1>
                    
                </h1>
            </p-card>
        </div>
    </div>
    
    <ng-template #noSub>
        <span  class="text-white">
            No tienes subscripción activa, debes elegir una o también puedes pagar
            directamente en el gimnasio
        </span>
        <app-subscripciones></app-subscripciones>
    </ng-template>
    
</div>

<ng-template #noPerfil>

    <span class="text-white">No tienes un perfil, agrega tus datos</span>
    <div class="form-profile">
        <app-create-prfile (cambio)="asignPerfil($event)"></app-create-prfile>
    </div>

</ng-template>

