<p-toast position="top-center" key="c">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="grid p-fluid">
                <div class="col-6">
                    <button type="button" pButton (click)="eliminar()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="col-6">
                    <button type="button" pButton (click)="2" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>

</p-toast>

<p-paginator [rows]="10" [totalRecords]="usuarios.length" (onPageChange)="onPageChange($event)"> <!-- [rowsPerPageOptions]="[10,20,30]" -->

</p-paginator>
<p-table [value]="usuariosMostradosFinal" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Usuarios
            <div></div><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div><div></div>
            <!--  <p-multiSelect [options]="musculos" 
                    [(ngModel)]="selectedMusculos" optionLabel="musculo"
                    defaultLabel="Selecciona un musculo para filtrar"
                    [maxSelectedLabels]="5"
                    (onChange)="cambio()"
                    optionValue="id"
                    ></p-multiSelect> -->
            <span class="p-input-icon-left">
                <!-- <i class="pi pi-search"></i> -->
                <!-- <input pInputText class="" [(ngModel)]="texto" (keyup)="buscar()"
                placeholder="Ejercicio">   -->
            </span>
            
            
            
            <!-- <p-button icon="pi pi-search"></p-button> -->
    
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Nombre de usuario</th>
            <th>Roles</th>
            <th>Editar</th>
            <th>Eliminar</th>
            <th>Administrador</th>
            <th>Instructor</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
        <tr>
            <td>{{usuario.user.id}}</td>
            <!--  <td><img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" /></td> -->
            <td>{{usuario.user.nombre }}</td>
            <td>{{usuario.user.email}}</td>
            <td>{{usuario.user.username}}</td>
            <td>{{nombreRole(usuario.user.roles[0]?.nombre)}} 
                {{ (usuario.user.roles[0] && (usuario.user.roles[1] || usuario.user.roles[2])) ?',':''}} 
                {{nombreRole(usuario.user.roles[1]?.nombre)}} 
                {{ (usuario.user.roles[1] && (usuario.user.roles[2]) ) ?',':''}} 
                {{nombreRole(usuario.user.roles[2]?.nombre)}}</td>
            <td>
                <button pButton label="editar" class="p-button-warning" > 

                </button>
            </td>
            <td>
                <button pButton label="eliminar" class="p-button-danger" 
                (click)="showConfirm(usuario.user)"> 

                </button>
            </td>
            <td>
                <p-inputSwitch [(ngModel)]="usuario.isAdmin" 
                    (onChange)="cambiaAdmin($event,usuario.user)"></p-inputSwitch>
                <!-- <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-outlined"></button> -->
            </td>
            <td>
                <p-inputSwitch [(ngModel)]="usuario.isInstructor"
                    (onChange)="cambiarInstructor($event,usuario.user)"
                ></p-inputSwitch>
                <!-- <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-outlined"></button> -->
            </td>
            
        </tr>
    </ng-template>
    <!-- <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{products ? products.length : 0 }} products.
        </div>
    </ng-template> -->

</p-table>

<div *ngIf="usuarios.length==0" class="text-white">
    <h1>No hay usuarios con ese nombre</h1>
</div>