<p-toast></p-toast>
<form (ngSubmit)="createProfile()" [formGroup]="profileForm">
    <p-panel header="Completa tu perfil">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Edad:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="edad" class="form-control" name="edad">
                </div>
                <div class="ui-grid-col-4">
                    <div [hidden]="profileForm.controls['edad'].valid || !profileForm.controls['edad'].dirty" class="alert alert-danger">
                        La edad es requerida
                    </div>
                    <div *ngIf="errores?.nombre" class="alert alert-danger">
                        {{errores.nombre}}
                    </div>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Altura:
                </div>
                <div class="ui-grid-col-6">
                    <p-inputNumber formControlName="altura" class="form-control" name="altura">

                    </p-inputNumber>
                    <!-- <input pInputNumber type="number"  > -->
                </div>
                <div class="ui-grid-col-4">
                    <div [hidden]="profileForm.controls['altura'].valid || !profileForm.controls['altura'].dirty" class="alert alert-danger">
                        La altura es requerida
                    </div>
                    <div *ngIf="errores?.apellido" class="alert alert-danger">
                        {{errores.apellido}}
                    </div>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Peso:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="peso" class="form-control" name="peso" >
                </div>
                <div class="ui-grid-col-4">
                    <div [hidden]="profileForm.controls['peso'].valid || !profileForm.controls['peso'].dirty" class="alert alert-danger">
                        El peso es requerido
                    </div>
                    <div *ngIf="errores?.username" class="alert alert-danger">
                        {{errores?.peso}}
                    </div>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Sexo:
                </div>
                <div class="ui-grid-col-6">
                    <p-selectButton [options]="sexos" optionLabel="sexo" optionValue="id" formControlName="sexo" name="sexo" >

                    </p-selectButton>
                    <!-- <select formControlName="sexo" name="sexo" >

                    </select> -->
                    
                    <!-- <input pInputText type="text" formControlName="sexo" class="form-control" name="sexo" > -->
                </div>
                <div class="ui-grid-col-4">
                    <div [hidden]="profileForm.controls['peso'].valid || !profileForm.controls['peso'].dirty" class="alert alert-danger">
                        El sexo es requerido
                    </div>
                    <div *ngIf="errores?.username" class="alert alert-danger">
                        {{errores?.peso}}
                    </div>
                </div>
            </div>

        


            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-6">
                    <button pButton type="submit" label="Submit" [disabled]="!profileForm.valid"></button>
                </div>
                <div class="ui-grid-col-4"></div>
            
            </div>
        </div>
    </p-panel>
</form>
